<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visitas -Formulario de Registro </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <br>
    <!--Formulario de registro -->
    <form th:action="@{/visita/create}" method="post" th:object ="${visita}" >
        <div class="mb-3">
            <label for="local" class="form-label">Local:</label>
            <input type="text" class="form-control" id="local" name = "local">
        </div>

        <div class="mb-3">
            <label for="afiliado">Selecciona DNI</label>
                <select id="afiliado" name="afiliado">
                    <option th:each="afiliado: ${afiliados}" th:value="${afiliado.id}" th:text="${afiliado.dni}"></option>
                </select>
        </div>

        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>